.container-sm,
.container {
    max-width: unset !important;
}

.navbar .navbar-brand img {
    max-height: calc(3.0rem + 0.6vw) !important;
}

element.style {
    height: 100% !important;
}

.card {
    margin: 10px;
    flex: 0 0 50%;
    max-width: 100%;
}

.navbar {
    justify-content: right !important;
    margin-left: 20px;
    margin-right: 20px;
}

.cart-box {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
}

.navbar-nav {
    flex-direction: row !important;
}

.snipcart-summary{
    margin-top: 6px;
}
.centered-element {
    display: grid; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.navbar-collapse{
    flex-basis: unset !important;
}

.px-4 {
    padding: none !important;
}
.navbar-nav .nav-link{
    padding-right: 5px !important;
}
.d-flex{
    display: unset !important;
}


.product-detail-container {
    display: flex;
}


.image-gallery {
    display: contents;
}


.thumbnail-strip {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 20px; /* Adjust the space between thumbnails and the main image */
}

.thumbnail {
    width: 60px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnail:hover {
    opacity: 1;
}

.main-image {
    max-width: 50%;

    display: block;
}


.options-container {
    display: flex;
    align-items: center;
}

.option-box {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #e3f6ff;
    text-decoration: none;
    border-radius: 5px;
}

.option-box:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}


.sortOptions{
    margin-bottom: 100px;
}